# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Sys Files
.DS_Store
.env
.flaskenv
.venv/
.vscode

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Flask stuff:
instance/
.webassets-cache

# Sphinx documentation
docs/_build/

# database
*.sqlite3