<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Note Brew API</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/picnic">
</head>

<body>
    <div class="flex center">
        <div style="text-align: center;">
            <h1>Note Brew API</h1>
            <p>Maybe you are interested in this api? Consider visiting our api <a href="/docs" target="_self"
                    rel="noopener noreferrer">docs</a>.</p>
            <p>Contribute in our <a href="https://github.com/SrejonKhan/note-brew-server" target="_blank"
                    rel="noopener noreferrer">repo</a>.</p>
        </div>
    </div>
</body>

</html>
